@import 'vendors/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'components/icon';
@import 'components/tags';
@import 'base/typography';

$background-color: #0b1b15;
$primary-color: #00ffa2;

$section-width: 528px;

body {
    background-color: $background-color;
    padding-bottom: 100px;
    padding-top: 40px;
    padding-left: 14px;
    padding-right: 14px;

}

.heading {
    align-items: center;
    row-gap: 8px;
}

.intro {
    font-size: 20px;
    opacity: 100%;
}

.contact {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

}

.section {
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $section-width;
    margin: 0 auto;
    margin-top: 49px;

}

.portrait-image {
    height: 100px;
    width: 100px;
}


.social-links {
    column-gap: 15px;
    display: flex;
    width: fit-content;
}


.project,
.experience {
    @extend .section;
    align-items: flex-start;
    border-radius: 10px;
    flex-direction: row;
    margin-top: 10px;
    // padding: 20px;
    transition: background-color 0.15s;
    position: relative;
}

.project:hover,
.experience:hover {
    // background-color: #96cab80f;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    // transition: background-color 0.15s;

    h3 {
        color: $primary-color;
    }

    .icon {
        fill: $primary-color;
        transition: transform 0.15s;
        transform: translate(5px, -5px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    }

    // .backgorund {
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: red;
    // }

}

.project__image {
    border: 1px solid gray;
    border-radius: 5px;
    height: auto;
    object-fit: contain;
    width: 120px;
}

.project__column {
    display: flex;
    flex-direction: column;
}


.tags {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-top: 16px;
    row-gap: 8px;
}

.tags__tag {
    background-color: #35a07931;
    border-radius: 10px;

    padding: 5px 10px;

    span {
        opacity: 100%;
        color: $primary-color;
    }
}